[submodule "repos/Palette"]
	path = repos/Palette
	url = https://github.com/ax6000/Palette.git
[submodule "repos/pytorch-CycleGAN-and-pix2pix"]
	path = repos/pytorch-CycleGAN-and-pix2pix
	url = https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix.git
[submodule "repos/latent-diffusion"]
	path = repos/latent-diffusion
	url = https://github.com/ax6000/latent-diffusion.git
[submodule "repos/SynDiff"]
	path = repos/SynDiff
	url = https://github.com/ax6000/SynDiff.git
[submodule "repos/DiT"]
	path = repos/DiT
	url = https://github.com/ax6000/DiT.git
[submodule "repos/hydra-bp-classifier"]
	path = repos/hydra-bp-classifier
	url = https://github.com/ax6000/hydra-bp-classifier.git
[submodule "repos/PPG-BP-Analysis"]
	path = repos/PPG-BP-Analysis
	url = https://github.com/lirus7/PPG-BP-Analysis.git
